.userDisplay {
    width: 55%;
    height: 200px;
    background-color: rgb(60, 55, 49);
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 10px 6px rgb(5, 216, 239);
    }