html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-image: url("https://cdn.pixabay.com/photo/2020/04/12/20/37/abstract-5035778_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  
}

img {
  display: inline-block;
  max-width: 100%;
}

h2 {
  background-color: #191818;
  color: white;
  width: max-content;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(5, 216, 239);
  margin-left: 2%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 0px;
  margin: 0px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #0609c1;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: rgb(25, 36, 241);
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #1179e0;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #1179e0;
  color: #1179e0;
}


.btnHome {
  display: inline-block;
  padding: 40px;
  border-color: #0609c1;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #1924f1;
  color: #f8f8f8;
  font-size: 3.1rem;
  outline: 0;
  cursor: pointer;
}

.btnHome:hover {
  background-color: #1179e0;
  text-decoration: none;
}

.btnStats {
  display: inline-block;
  padding: 35px;
  border-color: #0609c1;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: rgb(25, 36, 241);
  color: #f8f8f8;
  font-size: 2.1rem;
  outline: 0;
  cursor: pointer;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  height: 500px;
  max-width: 100%;
  padding: 40px;
  margin: 0 auto 20px;
  background-color: rgb(60, 55, 49);
  border-radius: 15px;
  box-shadow: 4px 4px 15px rgb(5, 216, 239);
  /* box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4); */
}

input {
  margin: 15px;
  margin-bottom: 20px;
}

.loginInput {
  height: 40px;
  width: 200px;
  font-size: 20px;
}

.btnLogIn {
  display: inline-block;
  padding: 15px;
  border-color: #0609c1;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: rgb(25, 36, 241);
  color: #f8f8f8;
  font-size: 1.5rem;
  outline: 0;
  cursor: pointer;
  width: 200px;
  margin-left: 30%;
}

.btnLogIn:hover {
  background-color: #1179e0;
  text-decoration: none;
}
